html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: 'Roboto' Arial sans-serif;
	font-size: 16px;
	background-color: #2e2e2e;
	color: #efefef;
}

h1 {
	text-align: center;
	margin: 1em;
}

p {
	margin: 1em;
}
