<div class="page-header">
	<h3>The Low Down</h3>
</div>
<p>
	I'm a fullstack and polyglot developer based in London.  My most recent work concerns HTML5 front-end and game development but I'm always on the look out for new and interesting projects.  Checkout my <a href="/blog/">Blog</a> and <a href="/work/">Portfolio</a> for more insight into what I'm all about.  
</p>
<p>
	Alternatively use the social links below to get in touch!
</p>
<ul class="list-inline">
    {% for entry in site.data.social %}
        {% if entry.visible %}       
            <li>
                <a target="_blank" href="{{ entry.url }}" class="social-link">
                    <i class="fa {{entry.iconClass}} fa-2x"></i>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<p>As an aside, this site is brand new so please be patient while I fill it with content!</p>
