<div class="page-header">
	<h3>The Low Down</h3>
</div>
<p>
	I'm a fullstack and polyglot developer based in London.  My most recent work concerns HTML5 front-end and game development but I'm always on the look out for new and interesting projects.  Checkout my <a href="/blog/">Blog</a> and <a href="/work/">Portfolio</a> for more insight into what I'm all about.  
</p>
<p>
	Alternatively use the social links below to get in touch!
</p>
<ul class="list-inline">
	<li class=""><a href="mailto:darren@beerkkiss.io" class="social-link"><i class="fa fa-envelope-o fa-2x"></i></a></li>
	<li class=""><a href="https://github.com/mr-beerkiss" class="social-link"><i class="fa fa-github fa-2x"></i></a></li>
	<li class=""><a href="https://twitter.com/mr_beerkiss" class="social-link"><i class="fa fa-twitter fa-2x"></i></a></li>
	<li class=""><a href="https://instagram.com/mr_beerkiss/" class="social-link"><i class="fa fa-instagram fa-2x"></i></a></li>
	<li class=""><a href="https://uk.linkedin.com/pub/darren-beukes/2/509/865" class="social-link"><i class="fa fa-linkedin fa-2x"></i></a></li>
</ul>

<p>As an aside, this site is brand new so please be patient while I fill it with content!</p>
