<div class="panel panel-default">
	<div class="panel-body">
		<div class="page-header">
			<h3>Contact Me</h3>
		</div>
		<p>On a variety of social media...</p>
		<ul class="list-group">
			<li class="list-group-item"><i class="fa fa-envelope-o"></i><a href="mailto:darren@beerkkiss.io" class="social-link">darren@beerkiss.io</a></li>
			<li class="list-group-item"><i class="fa fa-google-plus-square"></i><a href="https://plus.google.com/u/1/105828073255312221992/posts" class="social-link">Google Plus</a></li>
		</ul>
	</div>	
</div>