.header {

    display: inline-block;

    .logo {
        margin: 0;
        display: inline-block;
    }

    nav {

        display: table;
        float: right;
        height: 2em;
        width: 50%;


        ul {
            display: table-row;

            list-style: none;

            li {
                vertical-align: bottom;
                display: table-cell;
                text-align: center;
                width: 10%;

                a {
                    color: white;
                }
            }
        }



    }
}