.portfolio-cell {
    
    background : {
        repeat: no-repeat;
        size: contain;
        position: top center;
    }
    
    position: relative;

    width: 90%;
    margin: 0 auto;

    max-height: 40%;

    @each $thumbnail in ( beach-blast keepy-uppy moving-moments thyms ) {
        &.#{$thumbnail} {
            $thumbnail-url: "/images/portfolio/#{$thumbnail}-thumb.png";
            background-image: url($thumbnail-url);
        }
    }

    .portfolio-image-faker {
        visibility: hidden;
    }

    .portfolio-overlay {
        position: absolute;
        top: 0;
        padding: 5px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);

        width: 100%;
        height: 100%;

        opacity: 0;

        @include transition(opacity 333ms ease-in);

        &:hover {
            opacity: 1;
        }
    }
}



.beerkiss-iframe-overlay {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

    background-color: rgba(0, 0, 0, 0.75);
    
    .beerkiss-iframe-container {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        //min-width: 50%;
        min-height: 50%;

        background-color: white;

        .beerkiss-iframe {
            box-sizing: content-box;
            border: solid 15px white;
        }

        .beerkiss-iframe__close {
            position: absolute;
            top: 0;
            right: 0;
            @include transform(translate(50%, -50%));

            color: #d9534f;

            &:hover {
                
                color: #b23530;
            }
        }

        .beerkiss-iframe-loading {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
        }
    }

}

