.portfolio-cell {
    
    
    
    @include box-shadow(-3px 3px 2px 0 rgba(0, 0, 0, 0.5));

    background : {
        repeat: no-repeat;
        size: 100% auto;
        position: center;
    }

    // width: 100%;
    // height: 100%;

    max-height: 41%;

    @each $thumbnail in ( beach-blast keepy-uppy moving-moments ) {
        &.#{$thumbnail} {
            $thumbnail-url: "/images/portfolio/#{$thumbnail}-thumb.png";
            background-image: url($thumbnail-url);
        }
    }

    .porfolio-cell-info {
        background-color: rgba(0, 0, 0, 0.5);
        // width: 100%;
        // height: 100%;
        
        color: #7FC4B1;
        text-shadow: 2px 2px 2px #570C72;

        opacity: 0;

        @include transition(opacity 0.5s ease-out);

        &:hover {
            opacity: 1;
        }

    }
}

.beerkiss-iframe-overlay {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

    background-color: rgba(0, 0, 0, 0.75);
    
    .beerkiss-iframe-container {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        min-width: 50%;
        min-height: 50%;

        background-color: white;

        .beerkiss-iframe {
            box-sizing: content-box;
            border: solid 15px white;
        }

        .beerkiss-iframe__close {
            position: absolute;
            top: 0;
            right: 0;
            @include transform(translate(50%, -50%));

            color: #d9534f;

            &:hover {
                
                color: #b23530;
            }
        }

        .beerkiss-iframe-loading {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
        }
    }

}

