.portfolio-cell {
    
    
    
    @include box-shadow(-3px 3px 2px 0 rgba(0, 0, 0, 0.5));

    background : {
        repeat: no-repeat;
        size: 100% auto;
    }

    width: 100%;
    height: 100%;

    max-height: 41%;

    @each $thumbnail in ( beach-blast keepy-uppy ) {
        &.#{$thumbnail} {
            $thumbnail-url: "/images/portfolio/#{$thumbnail}-thumb.png";
            background-image: url($thumbnail-url);
        }
    }

    .porfolio-cell-info {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        
        color: #7FC4B1;
        text-shadow: 2px 2px 2px #570C72;

        opacity: 0;

        @include transition(opacity 0.5s ease-out);

        &:hover {
            opacity: 1;
        }

    }
}

.beerkiss-iframe-container {

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.75);

    @include transform(translateY(0));

    @include transition(transform 1s ease-out);
    display: block;

    &.beerkiss-iframe-container__out {
        @include transform(translateY(100%));
        display: none;
    }

    .beerkiss-iframe {
    }
}