@import "mixins";

@import "social";

@import "bootstrap-overrides";

// Markdown overrides for some elements
.blog-post {
	img {
		max-width: 100%;
	}
	
	blockquote {
		cite {
			float: right;	

			// TODO: Do I really need to do clear fix here?
			&:after {
				content: "";
				clear: both;
			}
		}	
	}
	
	.highlight {
        background-color: 2e2e2e;
        border-radius: 5px;
        padding: 0.1rem 1rem;

        @include box-shadow(inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5));

        pre {
        	background-color: inherit;
        }

    }
}

