@import "mixins";
//@import "functions";

$background: #5e5e5e;
$foreground: #3a3a3a;

//$font: 'Roboto' Arial sans-serif;
$font: Arial, sans-serif;
$main-text-color: white;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;

}

body {
    background-color: $background;

    // for rem reference
    font-size: 16px;


}

#container {

    //min-width: unit(50rem);
    //max-width: unit(64rem);

    min-width: 50rem;
    max-width: 64rem;

    min-height: 50rem;

    margin: 1rem auto;

    padding: 1rem;

    background-color: $foreground;
    color: $main-text-color;
    font : {
        family: $font;
    }

    position: relative;

    @include box-sizing(border-box);
    @include box-shadow(-7px -7px 2px -1px #181919);

    @import "header";
    @import "footer";
}

// code blocks override
#content {

    .highlight {
        background-color: 2e2e2e;
        border-radius: 5px;
        padding: 0.1rem 1rem;

        @include box-shadow(inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5));

    }

    @import "contact";
    @import "blog";

}
