---
layout: default
title: Portfolio
group: "navigation"
---

<h1>Portfolio</h1>

<p> Here are some of the projects I have worked on </p>
 
<div class="container margin-override-left">
    
        
        {% for entry in site.data.portfolio %} 

            {% comment %} 
                
                Liquid templates technically don't support artimetic, but we can trick it by
                creating a text capture and filter the result through a modulo operation
                Note that this then creates a string so the comparions must check for strings
                ant not integers

            {% endcomment %}

            {% capture modResult %}{{ forloop.index0 | modulo:3 }}{% endcapture %}

            {% if modResult == "0" %}
                {% comment %}
                    Create a new row
                {% endcomment %}
                <div class="row"> 
                
            {% endif %}
      
            <div class="col-sm-4">
                    <div class="panel panel-default">
                    <div class="page-header">
                        <h3 class="text-center">
                            {{ entry.title }}
                            <br/>
                            <small>
                                
                                {{ entry.subtitle }}
                            </small>
                        </h3>
                    </div>               

                    <div class="portfolio-cell {{ entry.class }}" 
                        onclick="portfolio.openiFrame( '{{ entry.iframe.url }}', {{ entry.iframe.width }}, {{ entry.iframe.height }} );">
                        <img class="portfolio-image-faker" src="{{ entry.thumbnail }}">

                        <div class="portfolio-overlay"> 
                            <p>
                                {{ entry.description }}
                            </p>
                            <h5>Technologies Used:</h5>
                            <ul>
                                {% for tech in entry.technologies %}
                                    <li>{{ tech }}</li>
                                {% endfor %} 
                            </ul>
            
                            {% if entry.mobileOnly %}
                            <p class="text-center text-danger">May not work correctly on desktop browser</p>
                            {% endif %}

                            <h3 class="text-center">Click to launch!</h3>
                        </div>
                    </div>
                    
                </div>
            </div>

            {% if modResult == "2" %}
                {% comment %}
                    Close off the row
                {% endcomment %}
                </div>    
            {% endif %}

        {% endfor %}


</div>



<div class="beerkiss-iframe-overlay hidden">
    <div class="beerkiss-iframe-container">
        <a class="beerkiss-iframe__close" onclick="portfolio.destroyiFrame()">
            <i class="fa fa-times-circle fa-3x"></i>
            <!--<i class="fa fa-times-circle-o fa-3x"></i>-->
        </a>
        <div class="beerkiss-iframe-loading">
            <i class="fa fa-cog fa-5x fa-spin"></i>
        </div>
    </div>
</div>

<script src="/scripts/portfolio.js"></script>
