<html>

    {% include head.html %}

<body>

    <div id="container">

        {% include header.html %}  

        <div id="content"  class="container" >
            

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body {{ page.contentClass }}">
                        {{ content }}
                    </div>
                </div>                
            </div>
        </div>

        {% include footer.html %}
    </div>

    {% include scripts.html %}
</body>
</html>
