<html>

    {% include head.html %}

<body>

    <div id="container">

        {% include header.html %}  

        <div id="content"  class="container" >
            

            <div class="row">
                <div class="col-sm-8 content-padding">
                    <div class="panel panel-default">
                        <div class="panel-body {{ page.contentClass }}">
                            {{ content }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% include about.html %}
                        </div>  
                    </div>
                </div>

            </div>
        </div>

        {% include footer.html %}
    </div>
    
    <div class="beerkiss-iframe-overlay hidden">
        <div class="beerkiss-iframe-container">
            <a class="beerkiss-iframe__close" onclick="destroyiFrame()">
                <i class="fa fa-times-circle fa-3x"></i>
                <!--<i class="fa fa-times-circle-o fa-3x"></i>-->
            </a>
        </div>
    </div>
    
    

    {% include scripts.html %}
    <script src="/scripts/portfolio.js"></script>
</body>
</html>



