<html>
	<!-- TODO: Move <head> tags into templates -->
    {% include head.html %}

<body>

    

    {% include header.html %}

        
    <!--{{content}}-->
	<div class="container">
		<div class="row">
	    	<div class="col-lg-9">
	    		<div class="panel panel-default">
	    			<div class="div panel-body">
	    				<!--{{content}}	; TODO: Figure out how to add CSS class names in Markdown -->
	    				<div class="page-header">
	    					<!-- see header.html for override styles -->
	    					<h3>Whatever I want <small>Posted on Your mother's birthday</small></h3>
	    				</div>

	    				<img class="featureImg" src="http://media.mensxp.com/media/content/2013/Jul/1373099818_55830.jpg" alt="Image goes here" width="100%"> 

	    				<p>
	    					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur porta tempus. Donec vitae metus consectetur dolor auctor semper nec nec turpis. Aenean fringilla faucibus velit sed accumsan. Aliquam sed nunc a est varius sodales. Pellentesque faucibus sem quis egestas pretium. Nulla ut varius nisl, sit amet posuere enim. Aenean ultricies magna ac lacus tempor, nec porttitor turpis fermentum. Pellentesque sit amet metus suscipit magna feugiat facilisis vitae in massa. Maecenas laoreet lacinia velit nec venenatis. Sed a rhoncus turpis, ut tincidunt lorem. Integer mauris ligula, tempor id eros nec, pulvinar facilisis lorem. Vivamus porta sodales ligula vitae tristique. Sed vestibulum tellus sit amet ante pretium, a placerat massa convallis. Phasellus vel diam in tortor finibus imperdiet a ac felis. Praesent quam elit, elementum non sem eu, fringilla malesuada erat.

	    				</p>

	    				<h4>Sub-heading</h4>

	    				<p>
	    					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur porta tempus. Donec vitae metus consectetur dolor auctor semper nec nec turpis. Aenean fringilla faucibus velit sed accumsan. Aliquam sed nunc a est varius sodales. Pellentesque faucibus sem quis egestas pretium. Nulla ut varius nisl, sit amet posuere enim. Aenean ultricies magna ac lacus tempor, nec porttitor turpis fermentum. Pellentesque sit amet metus suscipit magna feugiat facilisis vitae in massa. Maecenas laoreet lacinia velit nec venenatis. Sed a rhoncus turpis, ut tincidunt lorem. Integer mauris ligula, tempor id eros nec, pulvinar facilisis lorem. Vivamus porta sodales ligula vitae tristique. Sed vestibulum tellus sit amet ante pretium, a placerat massa convallis. Phasellus vel diam in tortor finibus imperdiet a ac felis. Praesent quam elit, elementum non sem eu, fringilla malesuada erat.

	    				</p>
	    			</div>
	    			
	    		</div>
	    	</div>

	    	<div class="col-lg-3">	
    			<div class="list-group">
					<a href="#" class="list-group-item active">
						<h4 class="list-group-item-heading">Lorem Ipsum</h4>
						<p class="list-group-item-text">
							Integer vel lorem in neque blandit tempor. Vivamus bibendum urna a leo congue, sit amet feugiat ex aliquam. 
						</p>
					</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Lorem Ipsum</h4>
						<p class="list-group-item-text">
							Integer vel lorem in neque blandit tempor. Vivamus bibendum urna a leo congue, sit amet feugiat ex aliquam. 
						</p>
					</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Lorem Ipsum</h4>
						<p class="list-group-item-text">
							Integer vel lorem in neque blandit tempor. Vivamus bibendum urna a leo congue, sit amet feugiat ex aliquam. 
						</p>
					</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Lorem Ipsum</h4>
						<p class="list-group-item-text">
							Integer vel lorem in neque blandit tempor. Vivamus bibendum urna a leo congue, sit amet feugiat ex aliquam. 
						</p>
					</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Lorem Ipsum</h4>
						<p class="list-group-item-text">
							Integer vel lorem in neque blandit tempor. Vivamus bibendum urna a leo congue, sit amet feugiat ex aliquam. 
						</p>
					</a>
				</div>
    		</div>
	    
	    </div>	
	</div>
    
        

        

    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
